<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 数据采集端配置-->
    <add key="DbConnectionStr" value="Database=p2pspider;Data Source=108.171.211.103;User Id=root;Password=catzaizai@vps;pooling=false;CharSet=utf8;port=3306;"/>
    <add key="PageSize" value="100"/>
  </appSettings>
</configuration>